<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:</string>
    </dict>
    <key>Label</key>
    <string>com.bkgimagechanger</string>
    <key>Program</key>
    <string>/Users/branimir/Pictures/unsplash_bkgimages/get_and_set_backgroundimage.sh</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>LaunchOnlyOnce</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/branimir/Pictures/unsplash_bkgimages/startup.stdout</string>
    <key>StandardErrorPath</key>
    <string>/Users/branimir/Pictures/unsplash_bkgimages/startup.stderr</string>
  </dict>
</plist>
